<a href="https://colab.research.google.com/github/mirza-8686/assignment_sql_command/blob/main/sql_assign_2_st.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 basic aggregate function:
## question1: retrieve the total number of rentals made in the sakila database

code: select count(rental_id) as total_rentals from rental;


## question 2: find the average rental duration (in days) of movies rented from the skilla database

code: select avg(rental_duration) from film;


 string functions:
## question 3: Display the first name and last name of customers in uppercase

code: select upper(conacat(first_name , last_name)) from customer;

## question 4:Extract the month from the rental date and display it alongside the rental ID.

code:select month(rental_date) , rental_id from rental ;

## group by:
## question 5:Retrieve the count of rentals for each customer (display customer ID and the count of rentals)

code:   select customer_id , count(rental_id) as total_rentals from rental group by customer_id ;

## question 6:Find the total revenue generated by each store.

code: select store_id , sum(amount) as total_revenue from store join payment on payment.staff_id = store.manager_staff_id group by store_id;

## joins:
## question 7: Display the title of the movie, customer s first name, and last name who rented it

code:select distinct(title) , first_name , last_name  from film join inventory on film.film_id = inventory.film_id join customer on customer.store_id = inventory.store_id join rental on rental.customer_id = customer.customer_id ;

## question 8:Retrieve the names of all actors who have appeared in the film "Gone with the Wind."

code:select film.title , first_name , last_name  from actor join film_actor on  actor.actor_id = film_actor.actor_id join film on film.film_id = film_actor.film_id where film.title ='gone with the wind';


## group by:
## question 1:Determine the total number of rentals for each category of movies.

code: SELECT c.name AS category_name, COUNT(r.rental_id) AS total_rentals
FROM film_category fc
JOIN film f ON fc.film_id = f.film_id
JOIN rental  r ON f.film_id = r.film_id
JOIN category c ON fc.category_id = c.category_id
GROUP BY c.name
ORDER BY c.name;

## question 2:Find the average rental rate of movies in each language

code:SELECT l.name AS language_name, (f.rental_rate) AS average_rental_rate
FROM film f
JOIN language l ON f.language_id = l.language_id;


## joins:
## question 3:Retrieve the customer names along with the total amount they've spent on rentals

code: select first_name , last_name ,  sum(amount) as total_amount from customer  cs join payment  py on cs.customer_id = py.customer_id join rental rt on cs.customer_id = rt.customer_id group by  rt.rental_id;

## question 4:list the titles of movies rented by each customer in a particular city (eg:london)

code:

## Advanced joins and group by:

## question 5:Display the top 5 rented movies along with the number of times they've been rented

code: select title , count(rental_id) as total_rented_times from film  f join inventory i on f.film_id = i.film_id join rental   r on r.inventory_id = i.inventory_id group by title limit 5;

## question 6:Determine the customers who have rented movies from both stores (store ID 1 and store ID 2).

code:SELECT
    c.customer_id, c.first_name, c.last_name
FROM
    customer c
        JOIN
    rental r ON c.customer_id = r.customer_id
        JOIN
    inventory i ON i.inventory_id = r.inventory_id
WHERE
    i.store_id IN (1 , 2)
GROUP BY c.customer_id
HAVING COUNT(DISTINCT i.store_id) = 2;